body {
  padding: 10px;
  font-family: sans-serif;
  background: pink;
}

header {
  background: #eee;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
input[type='text'] {
  width: 45%;
}
button[type='submit'] {
  width: 100%;
  border: solid 1px #111;
  background: #fff;
  margin-top: 10px;
}

.item {
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.item p {
  font-size: 18px;
  margin: 0;
}

.item div {
  width: 40%;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  transition: 0.3s ease all;
  border-bottom: solid 10px;
}
.item .vote-one {
  border-bottom-color: blue;
}

.item .vote-two {
  border-bottom-color: red;
}

.item > span {
  font-style: italic;
  color: #ccc;
}

.item div:hover {
  background: #eee;
}
